
</main>
</body>
<footer>
    <p>Made in <a href="https://www.google.com/search?q=Mostar&rlz=1C1KNTJ_enBA1090BA1090&oq=Mostar&gs_lcrp=EgZjaHJvbWUyDggAEEUYJxg5GIAEGIoFMgYIARAjGCcyBwgCEC4YgAQyBwgDEAAYgAQyBwgEEAAYgAQyBggFEEUYPTIGCAYQRRg9MgYIBxBFGD3SAQgxNDI1ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8">Mostar</a></p>
    <p>Copyright © <%= new Date().getFullYear()%></p>
</footer>

</html>