<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/content.css">
  
  <title>Web blog</title>
</head>
<header>
  <div class="logo">
    <a href="#"><h1>Matia Web Blog</h1></a>
  </div>
  <nav class="navbar">
    <ul>
      <li><a href="/">PoÄetna</a></li>
      <li><a href="/compose">Objavi</a></li>
      <li><a href="/contact">Kontakt</a></li>
    </ul>
  </nav>

</header>
<body>
<main class="container">
  